jumbotron{
  color: black;
}
#jumbotext{
  color:#ccac00;
  font-family:  'Great Vibes', cursive;
  font-size: 5em;
}

.btn.custom-btn{
  color:#ccac00;
  background-color:#303234;
  border: #aaa9ad
  font-family: 'Lato";
}
 
.btn.custom-btn:hover {
  background-color: #f7e7ce; /* gold on hover */
  color: black; /* optional: for contrast */
}
